<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$ - Paul Kenny</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="shortcut icon" type="image/jpg" href="images/favicon.ico"/>
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">Paul Kenny</a>
            </div>
            <nav>
                <a href="/pages.html">📃 Pages</a>
                <a href="/post-list.html">📄 Posts</a>
                <a href="https://github.com/pskenny">🖖 Github</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            </br>
            Incorrect? Out-of-date? Bad? <a href="https://github.com/pskenny/pskenny.github.io/issues">Open an issue on Github</a> and I'll try to get to it.
        </footer>
    </body>
</html>
